body{
    background-color: antiquewhite;
}

#t1{
    color: palevioletred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline overline;
   text-align: center;
   font-style: normal;
  
}

#foto{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
a{
    color: black;
    display: flex;
  
}
a:hover {
    color: pink;
    }

h2{
    background-color: rgb(250, 169, 197);
    font-family:'Times New Roman', Times, serif;
}

p.destaque{
    text-decoration: underline;
    font-weight: bold;
}

footer{
    background-color: aliceblue;
    color:palevioletred ;
    text-align: center;
    text-decoration: underline overline;
}